project:
  type: website
  output-dir: _site

website:
  title: "Jiayi Chu"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: analysis.qmd
        text: Example Analysis

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

bibliography: references.bib